<div class="formula">
	<h1>Enter your desired...</h1>
	<form action="/index_submit" method="POST">
		<div id="usr">
			<label for="username">Username: </label>
			<input type="text" name="username" placeholder="Enter Username" value="">
		</div>
		<div id="pss">
			<label for="password">Password: </label>
			<input type="text" name="password" placeholder="Enter Password" value="">
		</div>
		<button>...and sign up!</button>
	</form>
</div>
