body {
  background-color: #EFEFEA;
  color: orange;
}
body .formula {
  background-color: #2D1421;
  width: 400px;
  height: 400px;
  border-radius: 2px;
  margin-left: 30%;
  padding: 20px;
  margin-top: 5%;
  box-shadow: 1px 2px 2px rgba(33, 20, 45, 0.59);
}
body .formula h1 {
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 1.5px;
  margin-left: 20px;
  margin-top: 40px;
}
body .formula form {
  padding: 40px;
  font-size: 25px;
  letter-spacing: 1.5px;
}
body .formula form #usr {
  float: right;
  padding: 20px;
}
body .formula form #pss {
  clear: both;
  float: right;
  padding: 20px;
}
body .formula form button {
  clear: both;
  float: right;
  margin: 20px;
  margin-top: 30px;
  font-size: 15px;
  color: white;
  background-color: #B4A6AD;
  border-radius: 2px;
  font-family: serif;
}
